body{
	font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 400;
    background-color: #283040;
}

#container{
	width:800px;
	margin:50px auto;
	padding: 20px;
	width:50%;
}
#container h2{
	color:#48556e;
	text-align:center;
}

#quoteContainer{
	width:75%;
	background: none;
	padding:10px;
	margin:30px auto;
	text-align: center;
    height:70px;
}

#buttonContainer{
	width: 100%;
	text-align: center;
}
#quoteButton{
	font-family: 'Roboto', sans-serif;
	color:#ffffff79;
	font-weight: normal;
	border:1px solid #22a1e16e;
	width: 200px;
	margin-top: 10px;
	padding: 6px;
	text-decoration: none;
    text-align: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    background: #283040;
    box-shadow:  8px 8px 14px #222936, 
    -8px -8px 14px #2e374a;
    transition: color .3s ease-in-out;                
}

#quoteButton:hover{
	cursor:pointer;
	color: #ffffffb6;	
    transition: color .3s ease-in-out;
}
#quoteButton:active{
    cursor: pointer;
	color: #ffffff;	
	border:1px solid #22a1e1;
    background: linear-gradient(145deg, #242b3a, #2b3344);
    box-shadow:  -8px -8px 14px #222936, 
    8px 8px 14px #2e374a;
}
#quoteButton{
    display: inline-block;
}

#quoteGenius{
    text-transform: capitalize;
    color: #22a1e16e;
	font-weight: 300;
    text-align: center;
    padding-top: 15px;
}

/*====================MEDIA QUERIES====================*/
@media screen and(max-width:768px){
	#quoteButton,#addNew{
		display: block;
	}
}